<footer>
<div class="container">
  <div class="row-footer">
    <div class="col col-md-12">
      <div class="col-md-3">
        <%= image_tag('logo-footer.jpg', size: '200x100', class: "pull-right")%>
      </div>
      <div class="col col-md-9">
        <p>
        <span class="col-md-3">总机：0546-2222222 2889996</span>
        <span class="col-md-3">传真：0546-2885588</span></p>
        <br>
        <p><span class="col-md-3">邮箱：stglx@snton.com</span>
        <span class="col-md-4">地址：山东省垦利经济开发区中兴路277号</span>
        </p> 
        <br>
        <p class="col-md-7">Copyright © 2014 Snton.com All rights reserved.
        <a href="http://www.miibeian.gov.cn/" target="_blank" class="aGray">
          <span style="font-size: 11px;">鲁ICP备07018214号</span>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <div class="col-md-2 pull-right">
          <a href="#">返回顶部</a>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
