<div class="header">
<%= link_to image_tag('logo.jpg', size: '400x40', class: "pull-left"), root_path%>
<ul class="nav nav-pills">
  <li><a href="/topics">胜通动态</a></li>
  <li><a href="/about">企业简介</a></li>
  <li><a href="/certification">资质证书</a></li>
  <li><a href="/job">招才纳贤</a></li>
  <li><a href="/contact">联系我们</a></li>
</ul>
</div>
